.navbar-default {
  border-bottom: 5px solid #900;
}
.navbar-default .navbar-nav > li {
  background-color: #f00;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #900;
  color: #fff;
}
.header-data {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
}
.header-data a {
  color: #333;
}
#main-nav .nav > li.active {
  border-bottom-color: #31944B
}
#wrapper_detail_paquete, #wrapper_paquetes, #nosotros_wrapper, .mt30 {
  padding-top: 30px
}
.google-map-api {
  background: #fff;
  height: 400px;
  position: relative;
  top: 0;
  width: 100%;
}
.google-map-api .gmap {
  height: 100%;
  width: 100%;
}
#form-contact address img {
  height: 100px;
  margin-bottom: 30px;
  margin-left: -2px;
}
.media-wrapper img, .product-item img {
  border: 1px solid #A5A5A5;
}
.product-item:hover .fa-plane, .header-data i, .kendall-color {
  color: #D7087D;
}
.fa-certificate {
  color: #92B85B
}
.sub-title-detail {
  margin-bottom: 28px;
}
#prize-open-rate {
  margin-top: 10px;
}
#nosotros_wrapper {
  background-color: #fff;
  padding-bottom: 30px
}
.color-white {
  color: #fff
}
.lead {
  font-size: 17px;
}
.fa-star-half-o {
  font-size: .9em;
}
.menu-list-paquetes a {
  color: #333
}
.title-package-nav {
  border-bottom: 2px solid #b61a79;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 2px 0 4px;
  color: #333;
}
.nav-nacional {
  width: 126px;
}
.nav-internacional {
  width: 136px;
  padding-left: 20px;
}
.list-country {
  background-size: cover;
  background-position: 50% 50%;
  height: 180px
}
.ver-mas {
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}
.ver-mas a {
  color: #b61a79;
}
#chapter1 table td {
  vertical-align: middle;
}
.paquete-image {
  height: 180px;
  background-size: cover
}
.thumbnail:hover {
    box-shadow: 0 0 5px #999;
}
.thumbnail .caption h4 {
  height: 40px;
}
.fsize1-1 {
  font-size: 1.1em
}
.destacado {
  position: absolute;
  background-color: #f00;
  padding: 4px 10px;
  color: #fff;
  text-transform: uppercase;
  top: 15px;
  left: -1px;
}
.destacado span {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 6px 10px 0px;
  border-color: transparent #990000 transparent transparent;
  top: 100%;
  left: 0px;
  position: absolute;
}
.btn-danger {
  background-color: #f00;
}