#main-nav .nav > li {
  border-bottom: 3px solid transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  color: #31944B;
}
#main-nav .nav > li.active {
  border-bottom-color: #31944B
}
#wrapper_detail_paquete, #wrapper_paquetes, #nosotros_wrapper, .mt30 {
  padding-top: 30px
}
.google-map-api {
  background: #fff;
  height: 400px;
  position: relative;
  top: 0;
  width: 100%;
}
.google-map-api .gmap {
  height: 100%;
  width: 100%;
}
#form-contact address img {
  height: 100px;
  margin-bottom: 30px;
  margin-left: -2px;
}
.kendall-color {
  color: #b61a79
}
.media-wrapper img, .product-item img {
  border: 3px solid #A5A5A5;
  border-radius: 8px
}
.product-item:hover .fa-plane {
  color: #b61a79;
}
.fa-certificate {
  color: #92B85B
}
.sub-title-detail {
  margin-bottom: 28px;
}
#prize-open-rate {
  margin-top: 10px;
}
#nosotros_wrapper {
  background-color: #fff;
  padding-bottom: 30px
}
.color-white {
  color: #fff
}
.lead {
  font-size: 17px;
}
.fa-star-half-o {
  font-size: .9em;
}
.menu-list-paquetes a {
  color: #333
}
.title-package-nav {
  border-bottom: 2px solid #b61a79;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 2px 0 4px;
  color: #333;
}
.nav-nacional {
  width: 126px;
}
.nav-internacional {
  width: 136px;
  padding-left: 20px;
}
.list-country {
  background-size: cover;
  background-position: 50% 50%;
  height: 180px
}
.ver-mas {
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}
.ver-mas a {
  color: #b61a79;
}
#chapter1 table td {
  vertical-align: middle;
}
.paquete-image {
  height: 180px;
  background-size: cover
}
.thumbnail .caption h4 {
  height: 40px;
}