@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900);*/
body {
	font-family:'Open Sans', sans-serif;
	background: #ebebeb url('../img/header-image.jpg') center top no-repeat
}
.nav-header, #header_wrapper, #useful-info, #main-wrapper, #wrapper_paquetes, #wrapper_detail_paquete, #nosotros_wrapper, #main-wrapper-us {
	background-color: #fff
}
#header_wrapper {
	z-index: 3;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.07);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.07);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.07);
}
#header {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.region {
	padding: 26px 26px 22px
}
#header_bottom_wrapper .thumbnail {
	padding: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.06);
}
.parallax_one_wrapper{ color:#fff; position: relative; }
#block-block-11 {
	padding:245px 0 135px;
	font-size:45px;
	line-height:50px;
	text-transform:uppercase;
	position: relative;
	z-index: 9;
}
#block-block-11 p { margin-bottom:30px; }
#block-block-11 h2 {
	text-transform:uppercase;
	font:700 120px/120px 'Open Sans', sans-serif;
	margin-bottom:14px;
}
#footer {
	border-top:10px solid #57545c;
	clear:both;
	padding:0;
	position:relative;
	background-color: #B61B79
}
.front #footer { border:none; }
.footer-wrapper {
	padding:50px 0 30px;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
#useful-info .views-field {
	line-height: 1.6em;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 84%;
}
#block-block-12 {
	margin-bottom: 80px
}
h1, h2, h3, h4, h5 {
	color:#505050;
	font:400 50px/50px 'Quattrocento Sans', sans-serif;
}
h1 {
	margin-bottom:34px;
}
h2 {
	margin-bottom:40px;
}
h3{
	font:400 34px/26px 'Quattrocento Sans', sans-serif;
	margin-bottom:23px;
}
.profile h3, #block-tm-follow-user h2 {
	border-bottom:1px solid #ececec;
	overflow:hidden;
	padding-bottom:5px;
}
h4 {
	line-height: 20px;
	font-size: 18px;
}
h5 {
	line-height: 18px;
	font-size: 12px;
	margin-bottom:15px;
}
h6 {
	line-height: 20px;
	font-size: 12px;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#90B75E;
	text-decoration:none;
}
a {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#90B75E;
	text-decoration:none;
}
.video-bg { background:url(../img/ajax-loader.gif) center center no-repeat; }
.slogan {
	color:#f2f2f2;
	font-size:14px;
	line-height:17px;
	margin-bottom: 30px;
	padding-top:10px;
	text-transform:uppercase;
}
.select-menu { display:none}
#superfish-1 {
	background:none;
	margin-bottom:0;
	padding:0;
	width:auto;
	z-index:101;
	position:relative;
}
#superfish-1:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
#superfish-1 > li {
	background:none;
	border:0;
	font:400 18px/22px 'Quattrocento Sans', sans-serif;
	margin:0 0 0 70px;
	overflow:inherit;
	padding:0;
	text-transform:uppercase;
	position:relative;
}
#superfish-1 > li:after {
	background:#ececec;
	display:inline-block;
	position:absolute;
	width:1px;
	height:31px;
	top:-7px;
	left:-35px;
	content:'';
}
#superfish-1 > li:first-child { margin-left:0; }
#superfish-1 > li:first-child:after { display:none; }
#superfish-1 > li > a {
	color:#505050;
	text-decoration:none;
}
#superfish-1 > li > a .sf-sub-indicator {
	background:none;
	display:none;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li > a:hover, #superfish-1 > li.active-trail > a, #superfish-1 > li.sfHover > a {
	color:#90B75E;
	text-decoration:none;
}
#superfish-1 > li ul {
	background:#90B75E;
	display:none;
	padding:15px 0 11px;
	top:51px;
	width:120px !important;
}
#superfish-1 > li ul li {
	background:none;
	border-bottom:0;
	float:none !important;
	font-size:12px;
	height:auto;
	padding:0 15px;
	width:auto !important;
}
#superfish-1 > li ul li > a:visited, #superfish-1 > li ul li > a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 > li ul li > a:visited .sf-sub-indicator, #superfish-1 > li ul li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li ul li > a:hover, #superfish-1 > li ul li.active-trail > a, #superfish-1 > li ul li.sfHover > a {
	color:#2b1915;
	text-decoration:none;
}
#superfish-1 > li ul li ul {
	left:101% !important;
	top:-15px;
}
.flex-viewport {
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	transition:none;
}
.flexslider {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	margin-bottom:0;
	overflow: hidden;
}
.flexslider img {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
.view-slider .slides li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	padding:0;
}
.view-slider .slides li img { width:100%; }
.view-slider .flex-control-nav {
	bottom:20px;
	font-size:0;
	line-height:0;
	z-index:20;
}
.view-slider .flex-control-nav li { margin:0 2px; }
.view-slider .flex-control-nav li a:hover, .view-slider .flex-control-nav li a.flex-active { background:#6CA9DB; }
.view-slider .flex-control-thumbs li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	width:20%;
}
/*.view-slider .flex-direction-nav a:before { line-height:40px; }
.view-slider:hover .flex-next {
	opacity:1;
	right:0;
}
.view-slider:hover .flex-prev {
	opacity:1;
	left:0;
}*/
.view-slider .flex-caption {
	padding:46px 30px 59px;
	text-align:center;
	z-index:99;
	font-size:15px;
	line-height:16px;
	color:#a3a3a3;
	font-weight:300;
}
.view-slider .flex-caption h2 {
	text-transform:uppercase;
	font-size:48px;
	line-height:52px;
	margin-bottom:10px;
}
.view-slider .flex-caption h2 p { margin-bottom:0; }
.header_bottom_wrapper {
	position:relative;
	z-index:2;
	background:#eaeaea;
}
.img-mini {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
	height: 210px;
}
.img-mini:hover {
	background-size: 125%;
	transition: .6s ease;
}
.stickup {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:999;
}
.isStuck {
	left:0;
	right:0;
	top:0;
}
.isStuck .nav-header, .not-front .nav-header { box-shadow:0px 2px 5px rgba(0,0,0,0.1); }
.parallax-bg {
	bottom:0;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:100%;
}
.parallax-bg-inner {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	max-width:none;
	position:relative;
}

.parallax_one_wrapper h1, .parallax_one_wrapper h2, .parallax_one_wrapper h3, .parallax_one_wrapper h4, .parallax_one_wrapper h5, .parallax_one_wrapper h6 { color:#fff; }
.parallax_one_wrapper h1 a, .parallax_one_wrapper h2 a, .parallax_one_wrapper h3 a, .parallax_one_wrapper h4 a, .parallax_one_wrapper h5 a, .parallax_one_wrapper h6 a{
	color:inherit;
	text-decoration:none;
}
.parallax_one_wrapper h1 a:hover, .parallax_one_wrapper h2 a:hover, .parallax_one_wrapper h3 a:hover, .parallax_one_wrapper h4 a:hover, .parallax_one_wrapper h5 a:hover, .parallax_one_wrapper h6 a:hover {
	color:#90B75E;
	text-decoration:none;
}
.video_wrapper .region { min-height:545px; }
.video_wrapper .region .block-content { display:none; }
.content_one_wrapper { background:#f0f0f0; }
.content_one_wrapper .region { padding:65px 0 40px; }
::selection, ::-moz-selection {
	background:#90B75E;
	color:#fff;
	text-shadow:none;
}
.progressbar {
	font-family:'Quattrocento Sans', sans-serif;
	position:relative;
}
.progressbar .progressbar-wrap {
	background:#ececec;
	overflow:hidden;
	z-index:1;
	margin-bottom:11px;
}
.progressbar .progressbar-percent {
	position:absolute;
	z-index:2;
	bottom:0;
	right:20px;
	line-height:38px;
	color:#fff;
	font-size:24px;
}
.progressbar .progressbar-title {
	text-transform:uppercase;
	font-size:18px;
	line-height:22px;
	color:#505050;
	width:100%;
	margin-bottom:11px;
}
.progressbar.color-1 .progressbar-background { background:#90B75E; }
.progressbar.color-2 .progressbar-background { background:#6CA9DB; }
.progressbar.color-3 .progressbar-background { background:#efc55d; }
.progressbar.color-4 .progressbar-background { background:#86c3d1; }
.progressbar .progressbar-background {
	float:right;
	height:38px;
	background:#90B75E;
}
#page-title {
	margin-top: 60px;
}
.google-map-api {
	background: #fff;
	height: 400px;
	position: relative;
	top: 0;
	width: 100%;
}
.google-map-api .gmap {
	height: 100%;
	width: 100%;
}
#form-contact {
	padding-bottom: 80px;
}
#form-contact address {
	margin-top: 60px;
	margin-bottom: 60px;
}
#wrapper_detail_paquete {
	padding-top: 50px
}
#wrapper_detail_paquete aside {
	margin-top: 73px
}
#enviar-cotizacion {
	padding: 15px;
	border: 1px solid #ddd;
	background-color: #155AA0;
	border-radius: 4px;
	color: #fff;
}
#enviar-cotizacion h3 {
	color: inherit;
	margin-top: 10px;
}
#main-wrapper-us {
	padding-top: 60px;
}
.paquete-descripcion {
	background-color: #F3F3F3;
	padding: 20px;
	border: 1px dashed #ccc;
	margin-top: 30px;
	margin-bottom: 30px;
}
.sub-title {
	font-size: 1.7em;
	line-height: 1.4em;
}
.info-us {
	line-height: 1.7em
}
.view-advantages {
	margin-bottom: 60px
}
.view-advantages .views-row.alpha .counter { background:#90B75E; }
.view-advantages .views-row.omega h4 a { color:#efc55d; }
.view-advantages .views-row.omega h4 a:hover, .view-advantages .views-row h4 a:hover { color:#505050; }
.view-advantages .views-row.omega .counter { background:#efc55d; }
.view-advantages .views-row.last .counter { background-color:#ffac63; }
.view-advantages .counter {
	display:inline-block;
	text-align:center;
	width:85px;
	height:85px;
	border-radius:100px;
	line-height:85px;
	font-size:40px;
	color:#fff;
	font-family:'Quattrocento Sans', sans-serif;
	margin-bottom:20px;
	background:#6CA9DB;
}
.big-size {
	font-size: 9em;
	line-height: 1.6em;
}
.big-size-sub {
	font-size: 3em
}
#wrapper_paquetes .thumbnail:hover, .paquete-active{
	border-color: #B61B79;
	box-shadow: 0px 0px 4px #666;
}
@media (max-width: 992px) {
	#superfish-1 > li:after {
		left: -20px;
	}
	#superfish-1 > li {
		margin-left: 40px;
		font-size: 16px;
	}
	.big-size {
		font-size: 6em;
		line-height: 1.4em;
	}
	.big-size-sub {
		font-size: 2em
	}
}
@media (max-width: 767px) {
	#superfish-1 { display:none; }
	.select-menu {
		display:block !important;
		width:100%;
	}
	#block-block-11 h2 {
		font-size: 40px;
		line-height: 50px;
	}
	#block-block-11 p {
		font-size: .5em;
		line-height: normal;
	}
	.region {
		padding-right: 0;
		padding-left: 0;
	}
	.fix-margin {
		margin-bottom: 15px
	}
	.big-size {
		font-size: 3em;
		line-height: 1em;
	}
	.big-size-sub {
		font-size: 1.2em
	}
}
@media (min-width: 768px) {
	#img-logo img {
		height: 160px
	}
	#form-contact address img {
		width: 200px;
		margin-bottom: 30px;
	}
}